@model IPagedList<prjCustomer.Models.tCustomer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section styles
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<p>
    @Html.ActionLink("Create New", "Create") <br/>
    @TempData["ResultMsg"]
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @DateTime.Parse(item.Birthday.ToString()).ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPhone)
        </td>
        <td>
            <img src="~/Images/@item.fAddress" width="120" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { fid=item.fId }) |
            @Html.ActionLink("Details", "Details", new { fid=item.fId }) |
            @Html.ActionLink("Delete", "Delete", new { fid=item.fId }, new { onclick="return confirm('確定要刪除嗎?')"})
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page=>Url.Action("Index", new { page}), 
new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "<< 第一頁",
        LinkToPreviousPageFormat = "< 前一頁",
        LinkToNextPageFormat = "後一頁 >",
        LinkToLastPageFormat = "最末頁 >>"
    })